@media (min-width: 992px) {
	.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
}

.navbar-brand-text {
	font-size: 28px !important;
}

.navbar-custom-text {
	font-size: 22px;
}