.Section {
	font-size: calc(10px + 2vmin);
	padding-bottom: 0.5rem;
	text-align: left;
	height: 50%;
	width: 70%;
	margin: auto;
}

.Section h1 {
	color: #282c34;
	margin-top: 0;
	margin-bottom: 0;
}

.Section:first-of-type {
	margin-top: 7rem;
}

.anchor {
    position: relative;
    top: -85px;
    visibility: hidden;
}

.move-button {
	border: none;
	background: none;
	outline: none;
}

.move-button i {
	font-size: 28px;
	padding: 0 10px;
	color: #282c34;
}

.move-button i:hover {
	color: rgb(156, 156, 156);
}

.control-container {
	top: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-dot {
	border-radius: revert;
}

@media (max-width: 576px) {
	.Section h1 {
		font-size: 1.9rem;
	}
}